.metadata
.settings
RemoteSystemsTempFiles/
Debug/
**/Debug/**
**/.cproject
**/.project

eclipse.sh
/bugs/build/
/bugs/dist/# This code depends on make tool being used

bugs/.dep.inc
bugs/nbproject/
autosave.*
