[Desktop Entry]
Version=1.0
Type=Link
Name=GLUI User Interface Library, v1
Comment=
Icon=gnome-fs-bookmark
URL=http://www.cs.unc.edu/~rademach/glui/#download
