[Desktop Entry]
Version=1.0
Type=Link
Name=Rotational Work and Kinetic Energy
Comment=
Icon=gnome-fs-bookmark
URL=http://spiff.rit.edu/classes/phys211/lectures/rotke/rotke_all.html
